{% if __SELF__.auth %}
<nav id="adminBar" role="navigation">
    <ul>
        {% if __SELF__.property('display_dashboard_link') %}
        <li>
            <a href="{{ config('cms.backendUri')|app }}">{{ trans('backend::lang.dashboard.menu_label') }}</a>
        </li>
        {% endif %}
        {% for item in __SELF__.items %}
        <li class="{{ item.liCssClass }}" style="{{ item.liStyle }}">
            {% partial '@item.htm' item=item %}
        </li>
        {% endfor %}
    </ul>
    {% if __SELF__.property('display_auth_links') %}
    <ul>
        <li>
            <a href="#" aria-haspopup="true" title="{{ 'backend::lang.account.signed_in_as'|trans({'full_name': __SELF__.auth.full_name}) }}">
                <img src="{{ __SELF__.auth.thumb }}" id="auth_avatar"> {{ __SELF__.auth.full_name }}
            </a>
            <ul id="auth_submenu" class="dropdown" aria-label="submenu">
                <li class="nested">
                    <a href="{{ config('cms.backendUri')|app }}/backend/users/myaccount">{{ 'backend::lang.myaccount.menu_label'|trans }}</a>
                </li>
                <li class="nested">
                    <a href="{{ config('cms.backendUri')|app }}/backend/preferences">{{ 'backend::lang.backend_preferences.menu_label'|trans }}</a>
                </li>
                <li class="nested">
                    <a href="{{ config('cms.backendUri')|app }}/backend/auth/signout">{{ 'backend::lang.account.sign_out'|trans }}</a>
                </li>
            </ul>
        </li>
    </ul>
    {% endif %}
</nav>
{% endif %}
